@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--text);
}

:root {
  --bg: #09090b;
  --sidebar: #111111;
  --card: #18181b;

  --text: #f4f4f5;
  --muted: #a1a1aa;

  --border: #27272a;

  --hover-bg: #1f1f23;
  --hover-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  --accent: #a78bfa;
  --accent-hover: #c4b5fd;
  /* --accent: #b7791f;
  --accent-hover: #d69e2e; */
}